@using Microsoft.Maui.Storage
@using System.IO
@using System.Text.Json
@using Traveless.Backend
@using Traveless.Backend.Entities
@inject FlightManager flightManager
@inject AirlineManager airlineManager
@inject AirportManager airportManager
@inject ReservationManager reservationManager

@page "/flights"

<style> 
    body {
        margin: auto;
        text-align: center;
    }
    input {
        width: auto;
    }
    .searchClass {
        display: inline;
        list-style-type: none;
    }

    .reservationDetails {
        display;
        list-style-type: none;
    }

</style>

<body>
    <h3>Flight Finder</h3>

        <div>
            <ul class="searchClass">
                <li class="searchClass">
                    <label for="from">From:</label>
                    <input type="text" id="from" name="From" placeholder="Any" @bind-value="@OriginDestination" />
                </li>
                <li class="searchClass">
                    <label for="to">To:</label>
                    <input type="text" id="to" name="To" placeholder="Any" @bind-value="@FinalDestination" />
                </li>
                <li class="searchClass">
                    <label for="day">Day:</label>
                    <input type="text" id="day" name="Day" placeholder="Any" @bind-value="@DepartureDay" />
                </li>
                <li class="searchClass">
                    <input type="submit" value="Find Flights" @onclick="FoundFlight" />
                </li>
             </ul>
        </div>

    <h3>Flights</h3>

    <div>
        <input placeholder="Loading" @bind="FlightFound" />
    </div>

    <h3>Reserve</h3>

    <div>
        <ul class="reservationDetails">
            <li class="reservationDetails">
                <label for="flightCode">Flight Code:</label>
                <input type="text" id="flightCode" name="FlightCode" placeholder="LL-DDDD" />
            </li>
            <li class="reservationDetails">
                <label for="airline">Airline:</label>
                <input type="text" id="airline" name="Airline" placeholder="Airline" />
            </li>
            <li class="reservationDetails">
                <label for="day">Day:</label>
                <input type="text" id="day" name="Day" placeholder="Day" />
            </li>
            <li class="reservationDetails">
                <label for="time">Time:</label>
                <input type="text" id="time" name="Time" placeholder="HH:MM" />
            </li>
            <li class="reservationDetails">
                <label for="cost">Cost:</label>
                <input type="text" id="cost" name="Cost" placeholder="$" />
            </li>
            <li class="reservationDetails">
                <label for="name">Name:</label>
                <input type="text" id="name" name="Name" placeholder="John/Jane Doe" />
            </li>
            <li class="reservationDetails">
                <label for="citizenship">Citizenship:</label>
                <input type="text" id="citizenship" name="Citizenship" placeholder="..." />
            </li>
            <li class="reservationDetails">
                <input type="submit" value="Reserve" />
            </li>
        </ul>
    </div>
</body>
@code {
    private string OriginDestination { get; set; }
    private string FinalDestination { get; set; }
    private string DepartureDay { get; set; }
    private string FlightFound { get; set; }

    private void FoundFlight()
    {
        flightManager.LoadFlights();
        airlineManager.LoadAirlines();
        foreach (Flight flight in flightManager.Flights)
        {
            if (OriginDestination == flight.From && FinalDestination == flight.To && DepartureDay == flight.WeekDay)
            {
                FlightFound = $"{flight.AirlineCode}, {flight.From}, {flight.To}, {flight.WeekDay}, {flight.Time}, {flight.CostPerSeat}";
                break;
            } else
                FlightFound = "Flight not found";
        }
    }
}